._222,
._222 * {
  box-sizing: border-box;
}
._222 {
  background: #fff9f5;
  height: 825px;
  position: relative;
  overflow: hidden;
}
.frame-147 {
  width: 100%;
  height: 84.36%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 15.64%;
}
.course-2 {
  width: 966px;
  height: 683px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.frame-148 {
  width: 848px;
  height: 485px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 249px);
}
.group-68 {
  position: absolute;
  inset: 0;
}
.group-71 {
  width: 484px;
  height: 403px;
  position: static;
}
.group-60 {
  width: 403px;
  height: 395px;
  position: static;
}
.frame-122 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 403px;
  height: 395px;
  position: absolute;
  right: 0px;
  top: 50%;
  translate: 0 -50%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div {
  color: #000000;
  text-align: center;
  font-family: 'Poor Story', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.line-14 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -232.56px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - 103.39px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - 66.7px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - 29.05px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -7.63px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -47.21px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-11 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -83.89px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -121.54px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -158.22px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.52);
  border-width: 1px 0 0 0;
  width: 399.92px;
  height: 0px;
  position: absolute;
  right: 0.19px;
  top: calc(50% - -193.94px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: 'Poor Story', sans-serif;
  font-size: 26.120380401611328px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 0.22px;
  top: calc(50% - 241.5px);
  width: 399.51px;
  height: 34.22px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: 'Poor Story', sans-serif;
  font-size: 26.120380401611328px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 391.11px);
  top: calc(50% - 241.49px);
  width: 49.31px;
  height: 32.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: 'Poor Story', sans-serif;
  font-size: 26.120380401611328px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 298.52px);
  top: calc(50% - 242.5px);
  width: 49.31px;
  height: 32.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: 'Poor Story', sans-serif;
  font-size: 26.120380401611328px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 206.95px);
  top: calc(50% - 241.49px);
  width: 136.86px;
  height: 32.2px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-2753 {
  border-radius: 0px;
  width: 402.81px;
  height: 404.48px;
  position: absolute;
  left: calc(50% - 424px);
  top: 57%;
  translate: 0 -50%;
  overflow: visible;
}
.fuzzy-friends-artsy-cat {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 44px;
  bottom: 30px;
  object-fit: cover;
}
.frame-131 {
  width: 1280px;
  height: 79px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 362.5px);
}
.frame-123 {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 752px;
  height: 79px;
  position: absolute;
  left: 264px;
  top: 0px;
}
.smiley {
  flex-shrink: 0;
  width: 69.4px;
  height: 64.83px;
  position: relative;
  overflow: visible;
}
.div6 {
  color: #000000;
  text-align: center;
  font-family: 'Poor Story', sans-serif;
  font-size: 36px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 58px;
  height: 65px;
  position: relative;
  overflow: visible;
}



.image-box {
  position: absolute; /* 이미지를 SVG 위에 올림 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* 이미지가 SVG 위에 오도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 박스에 맞춤 */
  border-radius: 5px; /* 네모 테두리 부드럽게 */
}